<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo col-xs-2'>
        <%= link_to image_tag('mazi-fish-logo.png'), root_path %>
        <p class="center">sushi <span class='red'>mazi</span></p>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-menu">
        <li><a href="#starters">starters</a></li>
        <li><a href="#salad">soup&salad</a></li>
        <li><a href="#sushi">sushi</a></li>
        <li><a href="#signature">signature rolls</a></li>
        <li><a href="#special">sushi rolls</a></li>
        <li><a href="#platters">platters</a></li>
        <li><a href="#lunch">lunch</a></li>
        <li><a href="#happyhour">Happy Hour</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="large-image menu1">
  <div class="col-md-12 menu-header">
    <a id="starters"></a>
    <h1 class="center">Starters</h1>
  </div>
</div>

<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @starters.each do |starter| %>
        <div class="col-md-11">
          <p><%= starter.name %>  <%= starter.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= starter.price %></p>
        </div>
      <% end %>
      <div class="col-md-12">
        <i>GF: Gluten Free</i>
      </div>
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header">
    <a id="salad"></a>
    <h1 class="center">Soup and Salad</h1>
  </div>
</div>

<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @salads.each do |salad| %>
        <div class="col-md-11">
          <p><%= salad.name %>  <%= salad.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= salad.price %></p>
        </div>
      <% end %>
      <div class="col-md-12">
        <i>GF: Gluten Free</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header">
    <a id="signature"></a>
    <h1 class="center">Chef Signature Rolls </h1>
  </div>
</div>
<div class="container menu rolls">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @sig_rolls.each do |roll| %>
        <div class="col-md-11">
          <p><%= roll.name %>  <%= roll.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= roll.price %></p>
        </div>
        <div class="col-md-12">
          <small><%= roll.description %></small>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; </i>
        <i>GF*: Gluten Free option available with $1 upcharge</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header">
    <a id="special"></a>
    <h1 class="center">Sushi Rolls</h1>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @spe_rolls.each do |roll| %>
        <div class="col-md-11">
          <p><%= roll.name %>  <%= roll.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= roll.price %></p>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; </i>
        <i>GF*: Gluten Free option available with $1 upcharge</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header">
    <a id="sushi"></a>
    <h1 class="center">Sushi a la cart</h1>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <p>Item</p>
      </div>
      <div class="col-md-3 center">
        <p>Sushi or Sashimi</p>
      </div>
      <div class="col-md-3 center">
        <p>Roll or Cone</p>
      </div>
      <% @sushis.each do |sushi| %>
        <div class="col-md-6">
          <p><%= sushi.name %></p>
        </div>
        <div class="col-md-3 center">
          <p><%= sushi.price1 %></p>
        </div>
        <div class="col-md-3 center">
          <p><%= sushi.price2 %></p>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; GF*: Gluten Free option available with $1 upcharge</i>
        <i>Extra quail egg/ Extra sauce $1</i>
        <i>Inside out with sesame seed or caviar $1</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header high-header">
    <a id="platters"></a>
    <h1 class="center">Sushi Platters and Hot Foods</h1>
    <p class="center">served with miso soup</p>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @platters.each do |platter| %>
        <div class="col-md-11">
          <p><%= platter.name %>  <%= platter.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= platter.price %></p>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; </i>
        <i>GF*: Gluten Free option available with $1 upcharge</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header high-header">
    <a id="lunch"></a>
    <h1 class="center">Lunch Specials</h1>
    <p class="center">(Available Tue - Fri 11:30a - 3:00p)</p>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @lunches.each do |lunch| %>
        <div class="col-md-11">
          <p><%= lunch.name %>  <%= lunch.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= lunch.price %></p>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; </i>
        <i>GF*: Gluten Free option available with $1 upcharge</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="large-image">
  <div class="col-md-12 menu-header high-header">
    <a id="happyhour"></a>
    <h1 class="center">Happy Hour</h1>
    <p class="center">(Available Tue - Sun 5p - 6p)</p>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <% @hh_items.each do |hh| %>
        <div class="col-md-11">
          <p><%= hh.name %>  <%= hh.gf %></p>
        </div>
        <div class="col-md-1">
          <p><%= hh.price %></p>
        </div>
      <% end %>
      <div class="col-md-12 note">
        <i>GF: Gluten Free; </i>
        <i>GF*: Gluten Free option available with $1 upcharge</i>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="center">
  <p>Sushi Mazi | 2016</p>
</div>
