<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='logo col-xs-2'>
        <%= link_to image_tag('mazi-fish-logo.png'), root_path %>
        <p class="center">sushi <span class='red'>mazi</span></p>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right nav-menu">
        <li><%= link_to "menus", menu_path %></li>
        <li><a href="#about">about</a></li>
        <li><a href="#location">location</a></li>
        <li><a href="#hours">hours</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="large-image main1">
</div>

<div class="three-section about row" id="about">
  <div class='col-md-2'>
  </div>
  <div class='col-md-3 center'>
    <img src="<%= asset_path( 'S__6578189.jpg' ) %>" />
    <h4>Meet Chef Marc</h4>
    <p>Head Chef/Owner</p>
  </div>
  <div class='col-md-5'>
    <div class='col-md-12 about-content'>
      <h4>About Us</h4>
      <p>Sushi Mazi is a contemporary Japanese restaurant in the heart of Southeast Division street.</p>
      <p>We are a local restaurant with in the top rack best sushi restaurant in Portland. Led by sushi chef Marc, the passionate chef team continues to experiment with food, fun ingredients and new techniques, trying to push the boundaries with dish ( literally, the dishes ) that surprise and delight guest since 2009.</p>
      <p>The perfect location for a business lunch,a romantic evening or a night out friends. Come joint us and stay for grasshopper & sake.</p>
      <p>Opening everyday for lunch & dinner( Closed Monday)</p>
    </div>
  </div>
</div>



<div class="three-section row">
  <div class='col-md-4'>
    <div class="col-md-4"></div>
    <div id="location" class='col-md-8 location text-right'>
      <h3>Location</h3>
      <p>2126 SE Division Street</p>
      <p>Portland, Oregon 97292</p>
      <p><%= link_to "Get Direction", "https://www.google.com/maps/dir/Current+Location/sushimazi" %></p>
    </div>
  </div>
  <div class='col-md-4'>
    <img src="<%= asset_path( 'S__6225928.jpg' ) %>">
  </div>
  <div class='col-md-4'>
    <div id="hours" class='col-md-10 hours'>
      <h3>Hours</h3>
      <p>Lunch: Tue - Fri 11:30a - 3p</p>
      <p>Dinner: Tue - Fri 5p - close</p>
      <p>Dinner: Sat, Sun 4:30p - close</p>
      <p>HappyHour: Tue - Fri 5p - 6p</p>
      <p>HappyHour: Sat, Sun 4:30p - 6p</p>
      <p>Closed Monday</p>
    </div>
  </div>
</div>

<div class='container contact center'>
  <a id="contact" class="main"></a>
  <div class='row'>
    <div class='col-md-4'>
    </div>
    <div class='col-md-4'>
      <h3>Contact</h3>
      <p>contact@sushimazipdx.com</p>
      <p>Phone: 503-432-8651</p>
      <%= link_to image_tag('facebook.png', :class => 'facebook'), "https://www.facebook.com/Sushi-Mazi-121882967868776" %>
      <%= link_to image_tag('yelp.png', :class => 'facebook'), "http://www.yelp.com/biz/sushi-mazi-portland" %>
    </div>
    <div class='col-md-4'>
    </div>
  </div>
</div>

<div class="center">
  <p>Sushi Mazi | 2016</p>
</div>
